doctype html
html
  head
    include includes/head
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js")
    script.
      function getParameterByName(from, name) {
        var match = RegExp('[?&]' + name + '=([^&]*)').exec(from);
        return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
      }

      var myApp = angular.module('mayOne',[]);

      myApp.controller('PaypalController',
                       ['$scope', '$http', function($scope, $http) {
        $scope.ctrl = {
          amount: 0,
          max: 99999999,
          userinfo: {
            occupation: '',
            employer: '',
            phone: '',
            email: '',
            target: 'Whatever Helps',
          },
          error: '',
          token: '',
          payer_id: '',
          note: '',
          details_loaded: false,
          details_failed: false,
        };

        $scope.ctrl.token = getParameterByName(window.location.search, 'token');
        if (! $scope.ctrl.token)
          $scope.ctrl.token = getParameterByName('TOKEN');
        if (! $scope.ctrl.token) {
          $scope.ctrl.details_failed = true;
          $scope.ctrl.error = "Error: no paypal token.";
        }
        else {
          $http.post('/paypal.details', {
              token: $scope.ctrl.token,
          }).success(function(data, status) {
            if (data['ACK'][0] == "Success") {
              custom_as_url = "?" + data['CUSTOM'][0];
              $scope.ctrl.userinfo.employer = getParameterByName(custom_as_url, 'employer');
              $scope.ctrl.userinfo.occupation = getParameterByName(custom_as_url, 'occupation');
              $scope.ctrl.userinfo.phone = getParameterByName(custom_as_url, 'phone');
              $scope.ctrl.userinfo.target = getParameterByName(custom_as_url, 'target');
              $scope.ctrl.userinfo.email = data['EMAIL'][0];
              $scope.ctrl.max = Number(data['AMT'][0]);
              $scope.ctrl.amount = Number(data['AMT'][0]);
              $scope.ctrl.payer_id = data['PAYERID'][0];
              if ('PAYMENTREQUEST_0_NOTETEXT' in data)
                $scope.ctrl.note = data['PAYMENTREQUEST_0_NOTETEXT'][0];
              $scope.ctrl.name = "";
              if ('FIRSTNAME' in data)
                name += data['FIRSTNAME'];
              if ('MIDDLENAME' in data)
                name += " " + data['MIDDLENAME'];
              if ('LASTNAME' in data)
                name += " " + data['LASTNAME'];
              $scope.ctrl.details_loaded = true;
            }
            else {
              $scope.ctrl.details_failed = true;
              $scope.ctrl.error = data['L_LONGMESSAGE0'][0];
            }
          }).error(function() {
            $scope.details_failed = true;
            $scope.ctrl.error =
              'Error - could not retrieve paypal details.  Please try again.';
          })
        }
      }]);


  body#paypal(ng-app="mayOne", ng-controller="PaypalController")
    include includes/header
    .container
      .row
        .page-header
          h1 Confirm Your Pledge
      .row(ng-show="!ctrl.details_loaded && !ctrl.details_failed")
        .col-md-8
          .row
            h2.col-md-12 Retrieving Details from Paypal...
      .butterbar.row(ng-show="ctrl.error")
        .alert.alert-danger {{ctrl.error}}
      #content.row
        .col-md-8
          .row(ng-show="ctrl.details_loaded")
            h2.col-md-12 Pledge Details
            form(name="paypalForm",action="/paypal.complete", method="post").col-md-12
              .row
                .col-md-6
                  label Occupation
                  .input-group.input-group-lg
                    input.form-control(type="text", name="occupation",
                      placeholder="Gardner, Railroad Worker, etc",
                      ng-model="ctrl.userinfo.occupation")
                .col-md-6
                  label Employer
                  .input-group.input-group-lg
                    input.form-control(type="text", name="employer",
                      placeholder="Nintendo, UPS, Self, etc"
                      ng-model="ctrl.userinfo.employer")
              .row
                .col-md-6
                  label Phone Number (optional)
                  .input-group.input-group-lg
                    input.form-control(type="tel", name="phone",
                      placeholder="(212) 867-5309"
                      ng-model="ctrl.userinfo.phone")
                .col-md-6
                  label Email
                  .input-group.input-group-lg
                    input.form-control(type="email", name="email",
                      placeholder=""
                      ng-model="ctrl.userinfo.email")
              .row
                .col-md-6
                  label Who to Fund?
                  .input-group.input-group-lg
                    select.form-control(name="target", ng-model="ctrl.userinfo.target")
                      option Whatever Helps
                      option Democrats Only
                      option Republicans Only
                .col-md-6
                  label Amount
                  .input-group.input-group-lg
                    span.input-group-addon $
                    input.form-control(name="amount", type="number", required,
                      min="1", max="{{ctrl.max}}", ng-model="ctrl.amount")
                    span.input-group-btn
                      button.btn.btn-danger(type="submit") Confirm Pledge
              .row(ng-show="false")
                input.form-control(name="token", type="text", ng-model="ctrl.token")
                input.form-control(name="payer_id", type="text", ng-model="ctrl.payer_id")
                input.form-control(name="note", type="text", ng-model="ctrl.note")
                input.form-control(name="name", type="text", ng-model="ctrl.name")


        #rules.col-md-4
          h2 Contribution Rules:

          p In order to contribute, all of the following statements must be true:
          ul
            li I am a United States citizen or a permanent resident alien.
            li This contribution is made from my own funds, and funds are not being provided to me by another person or entity for the purpose of making this contribution.
            li I am making this contribution with my own personal credit card and not with a corporate or business credit card or a card issued to another person.
            li I am at least eighteen years old.
            li I am not a foreign national, federal contractor, national bank, or corporation chartered by an act of Congress
          p MayDay PAC must use its best efforts to obtain and report the name, address, occupation, and employer of individual contributors.
          p Contributions are not tax deductible.
          p <a href="//mayone.us/privacy">Our Privacy Policy</a>
      .row.spacing
    include includes/footer
